.App {
    display: flex;
    flex-direction: column;
}

.superstructures {
    height: 40px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.superstructure {
    width: 100%;
    display: flex;
    flex-direction: row;
}
